@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: inter;
}

.cabecalho {
    width: 100vw;/*Largura da tela*/
    height: 71PX;
    background-color: #3750B3;
    display: flex;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;

}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 18px;

}

.page-container{
    padding-left: 120px;
    padding-right: 120px;

}

.foto {
background-image: url("../assets/imgs/Rectangle 3.png");
width: 100%;
height: 427px;
background-size: cover;
background-position: center;
margin-top: 100px;
margin-bottom: 100px;

}

.titulo{
margin-top: 80px;
font-size: 64px;
font-weight: normal;
}

.descricao{
font-size: 32px;

}
